body {
    background-color: $primaryColor;
}
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

a {
    &:hover {
        font-style: italic;
        text-decoration: underline;
    }
    &:focus {
        font-style: italic;
        text-decoration: underline;
    }
}

button {
    &:hover {
            font-size: 2.2rem;
            text-shadow: 3px 3px 10px $solidWhite, -3px -3px 10px rgba(255, 255, 255, 1)
        }
    &:focus {
        font-size: 2.2rem;
        text-shadow: 3px 3px 10px $solidWhite, -3px -3px 10px rgba(255, 255, 255, 1)
    }
}